body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Finger Paint', cursive;
}


.App {
  background: #F3B18C;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 22px;
}

.title {
  font-size: 44px;
  line-height: 65px;
  color: #0026ED;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}

.cell {
  background-color: #FFFFFF;
  width: 80px;
  height: 80px;
  border: 10px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

/*

Notlar: margin: 4 kenardan bosluk birakir. ,Marginin 3 kullanimi var 
margin:0 (4 kenardan bosluk kalmaz)
1)margin:10px auto ***yukari asagi-- sagdan soldan 
2)margin:7px 5px 8px 9px (saat yonu sirasiyla)
App en distaki gorunmez kutu( turuncu)
display flex: esnek olmayi saglar yani sayfada ozellikler kullanilarak konumlandirilabilir
Justify content (icerigi yatay hizala), align items( dikey hizala), flex direction:column (esneklik yonu dikey hizala ) ve gap(satirlar ve
sutunlar arasi bosluk) gibi ozellikleri alir.

border-radius: sinirlarin keskin veya kavisli olmasini saglar 0 olursa keskin olur.

line height: Satırlar arasındaki yüksekliği belirler.
 border: 10px solid #0000 (solid duz cizgi// dashed dersek kesik cizgi)
 height: 100vh veya height:100% ayni 

*/