body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Finger Paint', cursive;
}


.App {
  background: #F3B18C;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 22px;
}

.title {
  font-size: 44px;
  line-height: 65px;
  color: #0026ED;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.cell {
  background-color: #FFFFFF;
  width: 80px;
  height: 80px;
  border: 10px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*

Notlar: margin: 4 kenardan bosluk birakir.kullanimlari:
margin:0 (4 kenardan bosluk kalmaz)
1)margin:10px auto ***yukari asagi ve sag sol 
2)margin:7px 5px 8px 9px (saat yonunde sirasiyla)

display flex: esnek olmayi saglar yani sayfada ozellikler kullanilarak konumlandirilabilir
Justify content (icerigi yatay hizala), align items( dikey hizala), flex direction:column (esneklik yonu dikey hizala ) ve gap(satirlar ve
sutunlar arasi bosluk) gibi ozellikleri alir.

border-radius: sinirlarin keskin veya kavisli olmasini saglar 0 olursa keskin olur.

line height: Satır yüksekliğini belirler.
 border: 10px solid #0000 (solid duz cizgi // dashed -- kesik cizgi)
 height: 100vh veya height:100% ayni 

*/

.x-filled{
  color: red;
}

.o-filled {
  color: blue
}

.mouse-over-empty {
  background-color: #8C8C8C;
}

.mouse-over-filled-x {
  background-color: red;
}

.mouse-over-filled-o {
  background-color: blue;
}

.game-footer {
  height: 10px;
}
.x-wins-footer {
  color: red;
}

.o-wins-footer {
  color: blue;
}
